.anim{
    position:relative;
}
.anim::after, .anim::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #F4CE14;
    transition: width 0.3s;
}
.anim::after{
    right: 0;
}
.anim::before{
    left:0;
}
.anim:hover::after, .anim:hover::before{
    width: 50%;
}